@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow rounded" style="background-color: #000; color: #fff; margin-left: 50px; height: 400px;">
                        <img src="@product.ImageURl" class="card-img-top rounded d-block mx-auto mb-3" style="max-width: 200px; max-height: 200px; object-fit: cover; filter: grayscale(100%); opacity: 0.8;" />
                        <div class="pl-1" style="height: 200px; margin-bottom: 20px;">
                            <p class="card-title h5 text-uppercase text-center">@product.ProductName</p>
                            <p class="card-title text-center">@product.Brand</p>
                            <div class="pl-1">
                                <p class="text-center fw-bold">
                                    Price: ₹<span style="color: #fff;"><strike>@product.Price.ToString()</strike></span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-center text-success">
                                    Discount Price: ₹<span>@product.DisccountPrice.ToString()</span>
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            @if (User.IsInRole(StaticDetails.Role_Customer))
                            {
                                <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control d-inline-block mx-auto mt-3 me-lg-5" style="background-color: #000; color: #fff; border-color: #fff; padding: 8px 20px;"> Product Details</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
